$font-size: 1.8rem;
$font-weight: 400;
$line-height: 1.2;

$ff-montserrat: 'Montserrat', Arial, sans-serif;
$ff-roboto: 'Roboto', Arial, sans-serif;

$container-max-width: 130rem;
$container-gutter: 1.5rem;